section #image img {
    display: block;
    width: 80%;
    margin: 0 55px;
}

#content {
    display: flex;
}

#content #right-content {
    display: block;
    flex: 3;
    margin-left: 25px;
}

#content #image {
    display: block;
    flex: 2;
}

#content #right-content ul{
    list-style-image: url(coffee_icon_custom_26x26.png);
}