section {
    padding-bottom: 0;
}

section table tr td img {
    width: 50%;
}

section table{
    width: 60%;
    margin: 25px auto 0;
    padding-bottom: 0;
}

section table tr td:first-child {
    width: 40%;
}

section table tr:nth-child(odd) {
    background-color: #D1B38D;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

section table tr td:nth-child(even) {
    padding: 30px 0;
}

section table tr:nth-child(even) > td:first-child {
    text-align: center;
}

.status {
    font-size: 18px;
    font-weight: bold;
}